<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset = "ISO-8859-1"/>
  <title>Add Director</title>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <style>
h1 {
  text-align: center;
}
</style>

  <script>
         $(document).ready(function() {
            $("button").click(function() {
            alert("Yo Man");

               var newDirector = {
                      "directorName": document.getElementById("addDir").elements[0].value,
                        "gender": document.getElementById("addDir").elements[1].value,
                         "age": document.getElementById("addDir").elements[2].value,
                        "awardCount": document.getElementById("addDir").elements[3].value,
               };

               if(!newDirector.directorName||!newDirector.gender)
                {
                alert("Please fill all the details");
                }else{
                    var requestJSON = JSON.stringify(newDirector);
                        alert("Director added successfully");
               $.ajax({
                  type : "POST",
                  url : "http://localhost:9090/directors",
                  headers : {
                     "Content-Type" : "application/json"
                  },
                  data : JSON.stringify(newDirector),
                  success : function(response) {
							alert("Press "+" OK "+ "to add more director");
                  },
                  error : function(data) {
                  }
               });
                }
            });
         });
      </script>


</head>

<link rel="stylesheet" href="css/style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>


<div class="container-fluid">

  <div class="row" >
    <div class="d-flex justify-content-center   container my-4">
      <img src="../static/logos/movie.jpg" th:src="@{/logos/movie.jpg}"/>
    </div>
  </div>
<h1>Add Director</h1>

<div class="container center_div">

<form id="addDir">
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example1">Full Name</label>
    <input type="text" id="form3Example1" class="form-control" />
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="form3Example2">Gender</label>
        <input type="text" id="form3Example2" class="form-control" />

      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="form3Example3">Age</label>
        <input type="number" id="form3Example3" class="form-control" />
      </div>
    </div>
  </div>


  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example4">Awards Won</label>
    <input type="number" id="form3Example4" class="form-control" />
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Add Director</button>
</form>
</div>






</div>
</body>
</html>