<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Add Movie</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=0.5">

    <style>
h1 {
  text-align: center;
}
</style>


    <script>
         $(document).ready(function() {
            $("button").click(function() {

               var newFilm = {
  "boxOfficeCollection": document.getElementById("addFilm").elements[2].value,
  "directedBy": [
    {
      "directorName": document.getElementById("addFilm").elements[3].value
    }
  ],
  "filmId": 0,
  "filmName":document.getElementById("addFilm").elements[0].value,
  "rating": document.getElementById("addFilm").elements[1].value
               };

               if(!newFilm.filmName)
               {
               alert("Please fill Movie Name");
               }else{
              $.ajax({
                 type : "POST",
                 url : "http://localhost:9090/films",
                 contentType : "application/json",
                 dataType : "text",
                 async: false,
                 cache: false,
                 data :  JSON.stringify(newFilm),
                 success : function(response) {
                       alert(response);
                 },
                 error : function(response) {
                 alert("No Director Exists with this Name. Please recheck...");
                 }
              });
               }
            });
         });
      </script>


    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>


<div class="container-fluid">

    <div class="row" >
        <div class="d-flex justify-content-center   container my-4">
            <img src="../static/logos/movie.jpg" th:src="@{/logos/movie.jpg}"/>
        </div>
    </div>
    <h1>Add Movie</h1>

    <div class="container center_div">

        <form id="addFilm">
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1">Movie Name</label>
                <input type="text" id="form3Example1" class="form-control" />
            </div>

            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">Ratings</label>
                        <input type="number" id="form3Example2" class="form-control" />

                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example3">Box Office Collections</label>
                        <input type="number" id="form3Example3" class="form-control" />
                    </div>
                </div>
            </div>


            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Director Name</label>
                <input type="text" id="form3Example4" class="form-control" />
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Add Movie</button>
        </form>
    </div>

</div>
</body>
</html>