<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset = "ISO-8859-1"/>
    <title>Delete Director</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
h1 {
  text-align: center;
}
</style>

    <script>
           $(document).ready(function() {
            $("button").click(function() {

               var delDirector = document.getElementById("delDir").elements[0].value;
                var urlz="http://localhost:9090/directors/"+delDirector;
               $.ajax({
                  type : "DELETE",
                  url : urlz,
                  async:false,
                  dataType : "text",
                     cache: false,
                  success : function(response) {
                     alert("Deleted the selected director successfully!!!");
                  },
                  error : function() {
                   alert("Some error occured");
                  }
               });
            });
         });
      </script>
</head>

<link rel="stylesheet" href="css/style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>


<div class="container-fluid">

    <div class="row" >
        <div class="d-flex justify-content-center   container my-4">
            <img src="../static/logos/movie.jpg" th:src="@{/logos/movie.jpg}"/>
        </div>
    </div>



<h1>Delete Director</h1>

<div class="container center_div">

    <form id="delDir">
        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example1">Director Name</label>
            <input type="text" id="form3Example1" class="form-control" />
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Delete Director</button>
    </form>
</div>

</div>
</body>
</html>