<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Director</title>
    <link rel="stylesheet" href="../static/css/Login.css" th:href="@{/css/Login.css}"/>
    <meta name="viewport" content="width=device-width,initial-scale=0.5">
</head>
<link rel="stylesheet" href="css/style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="container-fluid">

    <div class="row ">
        <div class="d-flex justify-content-center ">
            <img src="../static/logos/movie.jpg" th:src="@{/logos/movie.jpg}"/>
        </div>

    </div>

    <div class="row">
        <!-- total md are 12 but we are gibing 10 so that we get some space in the area   and mx-auto to put it in center-->
        <div class="col-md-12 col-12 mx-auto mb-2 ">
            <nav class="navbar navbar-expand-lg " style="background-color: #FFA500;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="allfilms.html" th:href="@{all-directors}">VIEW DIRECTORS<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="addfilm.html" th:href="@{add-director}">ADD DIRECTOR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="updatefilm.html" th:href="@{update-director}">UPDATE DIRECTOR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="deletefilm.html" th:href="@{delete-director}">DELETE DIRECTOR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="deletefilm.html" th:href="@{director-name}">WORK OF DIRECTOR</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<div class="row">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../static/images/i1.jpg" th:src="@{images/i1.jpg}" alt="First slide"/>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../static/images/i2.jpg" th:src="@{images/i2.jpg}" alt="Second slide"/>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../static/images/i3.jpg" th:src="@{images/i3.jpg}" alt="Third slide"/>
            </div>
        </div>

    </div>

    <div class="row_middle">
        <h4>THE PLACE WHERE LOVERS MEET CINEMA</h4>
    </div>

    <div class="row container-trend" >
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="../static/images/t1.jpeg"  th:src="@{/images/t1.jpeg}" alt="Card image cap"/>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Trending #1
                    </h5>
                    <hr>
                    <p class="card-text text-center">
                    <a class ="card-text text-center" href="https://en.wikipedia.org/wiki/Friends:_The_Reunion">Friends REUNION</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../static/images/t2.jpg" th:src="@{images/t2.jpg}"alt="Card image cap"/>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Trending #2
                    </h5>
                    <hr>
                    <p class="card-text text-center">
                    <a class ="card-text text-center" href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings">Lord Of The Rings</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../static/images/t3.jpg" th:src="@{images/t3.jpg}" alt="Card image cap"/>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Trending #3
                    </h5>
                    <hr>
                    <p class="card-text text-center">
                    <a class ="card-text text-center" href="https://en.wikipedia.org/wiki/Zack_Snyder">Zack Snyder</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../static/images/t4.jpg" th:src="@{images/t4.jpg}" alt="Card image cap"/>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Trending #4
                    </h5>
                    <hr>
                    <p class="card-text text-center">
                    <a class ="card-text text-center" href="https://en.wikipedia.org/wiki/Aishwarya_Rai_Bachchan">Aishwarya Rai</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../static/images/t5.jpg" th:src="@{images/t5.jpg}" alt="Card image cap"/>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        #Trending 5
                    </h5>
                    <hr>
                    <p class="card-text text-center">
                    <a class ="card-text text-center" href="https://en.wikipedia.org/wiki/John_Abraham">John Abraham</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row_footer_heading text-center">
     <h1 style="background-color:powderblue;">STAY CONNECTED & STAY TUNED!!!</h1>
</div>

<div class="row_footer">
    <img src="../static/logos/all.png" th:src="@{logos/all.png}"/>
</div>
</div>




</body>
</html>