<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset = "ISO-8859-1"/>
    <title>Search Director</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
h1 {
  text-align: center;
}
</style>

    <script>
       $(document).ready(function() {

            $("button").click(function(event) {
             event.preventDefault();
               var delMovie = document.getElementById("delFilm").elements[0].value;
                var urlz="http://localhost:9090/directors/work/"+delMovie;
           var msg = $.ajax({type: "GET", url: urlz, async: false}).responseText;

          alert(msg);
            });
         });
      </script>
</head>


<link rel="stylesheet" href="css/style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<body>


<div class="container-fluid">

    <div class="row" >
        <div class="d-flex justify-content-center   container my-4">
            <img src="../static/logos/movie.jpg" th:src="@{/logos/movie.jpg}"/>
        </div>
    </div>
    <h1>Searching Movie</h1>
    <div class="container center_div">
        </br></br>
        <form id="delFilm">
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1">Director Name</label>
                <input type="text" id="form3Example1" class="form-control" />
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Search Director</button>
        </form>
        <div id="lol"></div>
    </div>
</div>
</body>
</html>